body {
  background-color: #f0f0f0;
}

.container {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: medium;
  font-style: normal;
  font-family: none;
}
.container h1 {
  text-align: center;
}
.container span {
  text-decoration: underline;
}
.container .avtor {
  display: flex;
  justify-content: end;
  align-content: end;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table td,
table th {
  border: 1px solid;
}
table th {
  background-color: #ffdead;
}
